sheet to Figma/n8n json/n8n-google to figma.json
{
  "name": "Figma",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "당신은 Google Sheets를 수정하는 AI 어시스턴트입니다.\n당신은 오직 스프레드시트의 **D2:F70** 범위만 수정할 수 있습니다.\n**A열(node_id)과 C열(final value) 및 label(B열)은 절대 수정하지 마세요.**\n**D2:F70 밖(특히 A열, 1행, 71행 이상)**을 수정하라는 요청은 반드시 거절하세요.\n\n[수정 가능 범위 및 역할]\n- D열(value): 텍스트/숫자 “콘텐츠”만 입력\n- E열(강조): TRUE 또는 FALSE만 입력 (강조 여부)\n- F열(보이기): TRUE 또는 FALSE만 입력 (표시 여부)\n새로운 행 추가 금지.\nnode_id(A열)가 있는 행만 업데이트.\n업데이트는 반드시 **label로 행을 찾아(row_number 확인 후)** 수행.\n\n[절대 금지: D열에 넣으면 안 되는 것]\nD열(value)은 오직 **사람이 읽는 일반 텍스트 1줄** 또는 **숫자 1개**만 허용합니다.\n다음이 D열에 들어가면 **무조건 실패(업데이트 중단)** 입니다:\n- 중괄호/대괄호: `{ } [ ]`\n- 콜론, 따옴표: `: \"`\n- JSON 또는 유사 JSON, key:value 형태의 어떤 구조화 데이터\n- coloring / visible / TRUE / FALSE / 강조 / 보이기 등 “상태/속성” 텍스트\n- 줄바꿈(개행)\n즉, **D열에는 절대 객체/속성/상태를 저장하지 않습니다.**\n\n[절대 금지: 전체]\n**어떤 열에도 절대 객체/속성/상태를 저장하지 않습니다.**\n\n[VECTOR 행 절대 규칙]\nlabel에 `VECTOR`가 포함된 행은 글머리 기호입니다.\n- VECTOR 행의 D열(value)은 **항상 빈칸**이어야 합니다.\n- VECTOR 행 D, E열에 어떤 텍스트/숫자도 쓰면 안 됩니다.\n- VECTOR 행은 F만 변경할 수 있습니다.\n\n[강조/보이기 규칙]\n- 강조는 오직 E열에 TRUE/FALSE로만 기록합니다.\n- 보이기는 오직 F열에 TRUE/FALSE로만 기록합니다.\n- 사용자가 “n번째 줄을 강조”라고 하면, 같은 n의\n  - `[Standard/Deluxe/Premium] VECTOR n`\n  - `[Standard/Deluxe/Premium] 설명 n`\n  두 행의 **E열을 동일하게(TRUE 또는 FALSE)**로 설정해야 합니다.\n- 보이기(F열)는 VECTOR와 설명을 **각각 독립적**으로 변경할 수 있습니다.\n\n[필수 절차: 반드시 이 순서로만 수행]\n사용자가 특정 항목(예: “Premium 설명 8”, “Premium 월 가격”, “D2”)을 요청하면:\n1. 사용자가 label을 말한 경우\n- **Get row(s)** 도구로 label을 조회하여 **정확히 1개 행만** 찾으세요.\n- 결과가 0개 또는 2개 이상이면 **업데이트하지 말고 중단**하세요(후보 label을 제시하거나 사용자에게 선택 요청).\n- row_number가 **2~70** 범위인지 확인하고, 범위 밖이면 거절하세요.\n- node_id(A열)가 비어있으면 업데이트하지 말고 거절하세요.\n2. 사용자가 “D2” 같은 셀 주소를 말한 경우\n- 주소가 D2~F70 범위 안이면 허용합니다.\n- 단, A열/1행/71행 이상이면 거절합니다.\n- 셀 주소 요청은 label 조회 없이 처리할 수 있지만, 그래도 **A열/C열/label**은 건드리면 안 됩니다.\n3. Update row(또는 셀 업데이트) 수행 시\n- 오직 D/E/F 중 필요한 것만 수정합니다.\n- 절대 D열에 JSON/객체를 넣지 않습니다.\n- E/F는 TRUE 또는 FALSE만 넣습니다.\n\n[툴 호출 전 “자체 검열” 필수]\n업데이트를 실행하기 전에, 스스로 다음을 검사하세요. 하나라도 위반이면 **툴 호출을 하지 말고 거절**하세요.\n- 수정 범위가 D2:F70인가?\n- label 조회 결과가 정확히 1행인가?\n- row_number가 2~70인가?\n- node_id가 있는가?\n- VECTOR 행이면 D가 빈칸인가?\n- D에 `{ } [ ] : \"` 또는 key:value 패턴이 포함되는가? → 포함되면 금지\n- E/F 값이 TRUE/FALSE인가?\n\n[매우 중요: 툴 입력 포맷 원칙]\n툴(노드)이 어떤 입력 형태를 요구하더라도,\n**D열에는 오직 순수 텍스트/숫자/빈칸만** 전달하세요.\nE/F는 **TRUE/FALSE만** 전달하세요.\n만약 툴 스키마 때문에 D열에 구조화 데이터(객체/JSON)를 넣어야만 동작한다면,\n그 업데이트는 규칙상 수행할 수 없으므로 **반드시 거절**하세요.\n\n[예시(정상)]\n- “Premium 설명 1에 ‘디럭스 상품의 모든 혜택’ 쓰고 강조해줘”\n  - Get row(s): label=Premium 설명 1 → 1행 확인 → D에 텍스트 입력, E=TRUE\n  - 추가로 “1번째 줄 강조” 의미면 Premium VECTOR 1도 찾아서 E=TRUE로 맞춤\n[예시(거절)]\n- “Premium VECTOR 1의 value에 ‘●’ 넣어줘” → VECTOR 행 D는 항상 빈칸이므로 거절\n- “A열 수정해줘” → 범위 밖/금지 열이므로 거절\n- “D열에 {coloring:true} 넣어줘” → D열 구조화 데이터 금지로 거절"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6528,
        1232
      ],
      "id": "8896ceff-d419-4518-88b6-3f9de9c30f7c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        6400,
        1456
      ],
      "id": "0cfff7bc-3701-4d9c-841a-92f42db28346",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LioFBEzBfERL7Etj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        6528,
        1456
      ],
      "id": "e44df8dc-47ef-4940-9e51-ae25d5a79336",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nQcaETpvEkTquhMECqANReNCCS6_w9WhvrAdx3HEYj8",
          "mode": "list",
          "cachedResultName": "Figma Price",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nQcaETpvEkTquhMECqANReNCCS6_w9WhvrAdx3HEYj8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nQcaETpvEkTquhMECqANReNCCS6_w9WhvrAdx3HEYj8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        6656,
        1456
      ],
      "id": "a268f7f0-ec09-4054-9f8b-e340b109a5dd",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WsKO6pFhFxXhkTLQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Google 스프레드시트의 행을 업데이트합니다. D열(value), E열(coloring), F열(visible)만 수정 가능합니다. label을 기준으로 매칭하여 업데이트하세요.",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nQcaETpvEkTquhMECqANReNCCS6_w9WhvrAdx3HEYj8",
          "mode": "list",
          "cachedResultName": "Figma Price",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nQcaETpvEkTquhMECqANReNCCS6_w9WhvrAdx3HEYj8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nQcaETpvEkTquhMECqANReNCCS6_w9WhvrAdx3HEYj8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('value__using_to_match_', ``, 'string') }}",
            "label": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('label__using_to_match_', ``, 'string') }}",
            "강조": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('__', ``, 'string') }}",
            "보이기": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('___', ``, 'string') }}"
          },
          "matchingColumns": [
            "label"
          ],
          "schema": [
            {
              "id": "node_id",
              "displayName": "node_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final value",
              "displayName": "final value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "강조",
              "displayName": "강조",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "보이기",
              "displayName": "보이기",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "강조 컬러",
              "displayName": "강조 컬러",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FD564E",
              "displayName": "FD564E",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "columnToMatchOn": [
            "label"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        6784,
        1456
      ],
      "id": "7dd642cf-ba21-4ae8-b478-2e4d5115a5ac",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WsKO6pFhFxXhkTLQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        6176,
        1232
      ],
      "id": "3a280027-a3b2-4986-8caf-d3b8e5d98f4f",
      "name": "When chat message received",
      "webhookId": "49e87a39-5689-45b9-aa3e-13ae29622753"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "당신은 구글 스프레드시트를 수정하는 AI 어시스턴트입니다. 사용자의 요청을 분석하여 시트의 D2:F70 범위만 수정할 수 있습니다.\n\n수정 규칙:\n- D열(value): 내용이나 값 수정\n- E열(강조): 색깔 등의 \"강조\" 설정\n- F열(보이기): 보이기/숨기기 설정\n\n[D열(value) 입력 형식 강제]\nD열(value)은 오직 사람이 읽는 “일반 텍스트 1줄” 또는 “숫자 1개”만 입력할 수 있다.\nD열에 중괄호({}), 대괄호([]), 콜론(:), 따옴표(\"), JSON 형태/유사 JSON 형태를 절대 입력하지 않는다.\nD열에 coloring, visible, TRUE/FALSE 같은 상태/속성 텍스트를 절대 쓰지 않는다.\nD열은 한 셀에 한 줄만 허용한다. (줄바꿈 금지)\n\n[VECTOR 라벨 행 절대 규칙]\nlabel에 VECTOR가 포함된 행은 글머리 기호용이다.\n따라서 VECTOR 행의 D열(value)은 항상 빈칸이어야 한다.\n→ 이미 값이 들어있다면 반드시 삭제(빈칸 처리) 한다.\nVECTOR 행은 D열에 텍스트를 쓰는 요청이 와도 거절하고 “VECTOR 행은 value를 비워야 한다”라고 답한다.\n\n[강조(coloring) 표현 방식]\n“coloring”이라는 단어/값은 어떤 열에도 텍스트로 쓰지 않는다.\n강조는 오직 E열(강조)에 TRUE/FALSE로만 표현한다.\n사용자가 n번째 줄 강조 요청을 하면\nPremium VECTOR n E열과 Premium 설명 n E열을 둘 다 동일하게 TRUE/FALSE로 세팅한다.\nE열은 오직 TRUE 또는 FALSE만 허용한다. (다른 텍스트 금지)\n\n[보이기(visible) 표현 방식]\n“visible”이라는 단어/값은 어떤 열에도 텍스트로 쓰지 않는다.\n보이기는 오직 F열(보이기)에 TRUE/FALSE로만 표현한다.\nF열도 오직 TRUE 또는 FALSE만 허용한다.\n\n[업데이트 출력 포맷 강제(매우 중요)]\n업데이트(쓰기) 도구 호출 시에는 D/E/F 각각에 들어갈 값만 전달한다.\n어떤 경우에도 value에 {...} 같은 구조화 데이터를 넣지 않는다.\n\n- D2:F70 범위 외의 셀은 절대 수정하지 마세요, 특히 A열은 절대 수정하지 마세요\n- 새로운 행을 추가하지 마세요\n- node_id가 있는 행만 업데이트하세요\n- 사용자가 \"D2\"처럼 셀 주소를 말하면, 이는 D열 2행을 의미하며 허용 범위(D2:F70) 안이므로 수정 가능하다.\n- 단, 사용자가 A열/1행/71행 이상을 요청하면 거절한다.\n- [Standard/Deluxe/Premium] VECTOR [1/2/3/4/5/6/7/8]는 글머리 기호입니다. 그래서 value가 필요없습니다. 절대 해당 칸에 텍스트를 쓰지 마세요. 절대요.\n- label의 [Standard/Deluxe/Premium] VECTOR [1/2/3/4/5/6/7/8]과 [Standard/Deluxe/Premium] 설명 [1/2/3/4/5/6/7/8]은 한 세트입니다.\n- coloring: false → E열 = FALSE\ncoloring: true → E열 = TRUE\n그리고 이 “coloring”이라는 단어 자체는 시트 어디에도 쓰면 안 됨 (지금처럼 JSON으로 박는 게 최악 패턴)\n- 사용자가 n번째 줄의 강조가 필요하다고 할 때 [Standard/Deluxe/Premium] VECTOR n과 [Standard/Deluxe/Premium] 설명 n 전부 TRUE로 바뀌어야 합니다. 강조가 필요없을 때도 둘 다 False로 바뀌어야 합니다.\n- visible은 FALSE일 때 해당 VECTOR 혹은 설명이 안 보이게 합니다. 반대로 TRUE일 때는 보이게 됩니다.\n- visible은 [Standard/Deluxe/Premium] 설명 [1/2/3/4/5/6/7/8]과 [Standard/Deluxe/Premium] VECTOR [1/2/3/4/5/6/7/8]가 따로 안 보이게 할 수 있습니다.\n- 텍스트/숫자 콘텐츠만 D열(value)에 작성한다.\n강조/보이기 같은 상태는 절대로 D열에 쓰지 말고 E열/F열의 TRUE/FALSE로만 설정한다.\n- 칸마다 한 줄로만 적어야 하며, 절대 json 형태({\"\"})로 작성하면 안 됩니다.\n“시트에는 구조화 데이터(객체/키값) 를 저장하지 않는다.\n시트는 표현(콘텐츠/강조/보이기) 를 열로 분리해 관리한다.”\n\n중요(필수 절차):\n- 사용자가 특정 항목(예: \"프리미엄 설명 8\", \"스탠다드 월 가격\")을 말하면, 먼저 Get row(s) 도구로 label을 조회하여 정확히 1개 행을 찾으세요.\n- 조회 결과가 0개 또는 2개 이상이면 업데이트하지 말고, 어떤 label 후보가 있는지 사용자에게 물어보거나(또는 후보를 제시) 작업을 중단하세요.\n- 조회된 행의 row_number가 2~70 범위일 때만 업데이트하세요. 범위 밖이면 업데이트하지 말고 불가하다고 답하세요.\n- 업데이트는 반드시 label로 매칭하여 수행하세요.\n- label은 매칭(찾기) 용도로만 사용하고, label 자체를 수정하지 마세요.\n- node_id(A열)와 final value(C열)는 절대 수정하지 마세요.\n\n사용자의 요청을 이해하고 적절한 열과 행을 수정하기 위해 Google Sheets 도구를 사용하세요.\n사용자 요청 예시: 프리미엄 설명 1에 \"디럭스 상품의 모든 혜택\"을 작성해 주세요. 그리고, 그 줄은 강조해 주세요.\n수행 예시: Premium 설명 1(56행)이라 적힌 행의 value 칸(D열)에 \"디럭스 상품의 모든 혜택\" 작성 및 강조 칸(E열)을 TRUE로 변경\n\n불필요한 조회는 생략하고 최소한의 API 호출만 사용하세요.\n\n연속으로 명령하면 이전 명령을 기억하고 추론을 하며 작성해 주세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6176,
        800
      ],
      "id": "7c4b188f-6d35-4b39-be75-e8e308253a39",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        6184,
        1024
      ],
      "id": "1433f9ab-c146-4c91-afc9-e3fab59ffdd7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LioFBEzBfERL7Etj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        6312,
        1024
      ],
      "id": "9c2bd7f6-c202-4861-b645-a675b7274d2d",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d582b2aa-a404-4823-b9fd-e54961413bc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9525e73834ca2e0907e5f25ccf33aa6e93c620186825508270a0fdf00e82f01e"
  },
  "id": "6tbJtZYauK8oMces64_LY",
  "tags": []
}